[*.cs]

# IDE0011: Add braces
csharp_prefer_braces = when_multiline

dotnet_diagnostic.IDE0011.severity = silent

# IDE0022: Use block body for method
csharp_style_expression_bodied_methods = when_on_single_line

# IDE0160: Convert to block scoped namespace
csharp_style_namespace_declarations = file_scoped

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = suggestion

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = warning